body .alert {
  display: none; }

body .form-group input:not([type=submit]):not([type="checkbox"]):not([type="radio"]), body .form-group select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; }

body .form-group .bootstrap-tagsinput {
  width: 100%; }

body .form-group .bootstrap-tagsinput .tag {
  font-size: 14px; }

