body {
    .alert {
        display: none;
    }

    .form-group {
        input:not([type=submit]):not([type="checkbox"]):not([type="radio"]), select {
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .bootstrap-tagsinput .tag {
            font-size: 14px;
        }
    }
}
