@using System.Configuration
@Html.Hidden("WebApiLink", ConfigurationManager.AppSettings["WebApiLink"].ToString(), new { @id = "WebApiLink" })

<h3>Employee Details</h3>
<hr/>

<div class="container">
    <div class="row">
        <form role="form" id="employee-form">
            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="employeeNo">Employee No.</label>
                <input type="text" class="form-control" id="employeeNo" placeholder="Employee No" disabled>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
            </div>
            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group col-sm-6 col-md-6 col-lg-6" style="padding: 0;">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" placeholder="Enter Birthday">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6" style="padding: 0;">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" placeholder="Enter Age">
                </div>
            </div>
            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="phone">Phone #</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="clearfix"></div>

            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender">
                    <option value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter Address">
            </div>
            <div class="clearfix"></div>

            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="country">Country</label>
                <select class="form-control" id="country">
                    <option>Loading...</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="Enter State">
            </div>
            <div class="clearfix"></div>

            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="hobby">Hobby</label>
                <input type="text" class="form-control" id="hobby" placeholder="Hobby" data-role="tagsinput">
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label for="interest">Interest</label>
                <input type="text" class="form-control" id="interest" placeholder="Interest" data-role="tagsinput">
            </div>
            <div class="clearfix"></div>

            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                <label for="dateHired">Date Hired</label>
                <input type="date" class="form-control" id="dateHired" placeholder="Date Hired">
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label for="dateResigned">Resigned</label>
                <input type="text" class="form-control" id="dateResigned" placeholder="Date Resigned">
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                @*<button type="submit" class="btn btn-primary">Submit</button>*@
                <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <div class="clearfix"></div>
        <br /><br />
    </div>
</div>

@Scripts.Render("~/scripts/employee/create")