@using System.Configuration

<h3 class="mt-4">List of Employees</h3>
@Html.Hidden("WebApiLink", ConfigurationManager.AppSettings["WebApiLink"].ToString(), new { @id = "WebApiLink" })
<table id="employeeTable" class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#employeeTable").DataTable({
                ajax: {
                    url: "http://localhost:49911/api/employees",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, employee) {
                            return "<a href='/employees/edit/" + employee.id + "'>" + employee.firstname + "</a>";
                        }
                    },
                    {
                        data: "name",
                        render: function (data, type, employee) {
                            return "<a href='/employees/edit/" + employee.id + "'>" + employee.lastname + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-employee-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
    </script>
}
