@using BCSProject.Helpers

<h3 class="mt-4">List of Employees</h3>
@Html.Hidden("WebApiLink", WebHelper.WebApiLink)
@Html.Hidden("AccessToken", (string)ViewBag.AccessToken)
<table id="employeeTable" class="table table-sm">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@Html.ActionLink("Create New", "Create", "Employees", null, new { @class = "btn btn-link"})
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#employeeTable").DataTable({
                ajax: {
                    url: $("#WebApiLink").val() + "api/employees",
                    contentType: "application/json",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, employee) {
                            return "<a href='/employees/edit/" + employee.id + "'>" + employee.firstname + "</a>";
                        }
                    },
                    {
                        data: "name",
                        render: function (data, type, employee) {
                            return "<a href='/employees/edit/" + employee.id + "'>" + employee.lastname + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-employee-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });
    </script>
}
