<div id="alert" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong id="alert-title" class="mr-3">Success!</strong> <span id="alert-msg">Indicates a successful or positive action.</span>
</div>
